body{
   line-height: 1.6;
   background-color: #ffffff;
   color: #161616;
   font-family: 'sans-serif';
}

/* Cabeçalho */
header>nav{
  background-color: #eeeeee;
  font-size: 1.2em;
  padding: 2%;
}

header>nav>.logo>a{color: black; text-decoration: none;}
header>nav>.logo>a:visited{color: black;}

/* LINKS MENU Cabeçãlho */
header>nav>a{color: blue; margin-right: 3%; float: right; text-decoration: underline;}

/* Div principal do conteudo */
div.box{ 
  margin-left: auto;
  margin-right: auto;
  max-width: 60em;
}
 
#artigos {
  margin-top: 3%;
  border-radius: 3px;
  max-width: 55em;

 }
#artigos a:link {font-size: 1.8em; color: blue; text-decoration: none;}
#artigos>ul>li{margin-bottom: 4%; padding: 1.2%;}
#artigos>ul {
  list-style-image: url(img/read.gif);
}
/* Box Artigos */
.box-article{
  max-width: 45em;
  margin-left: auto;
  margin-right: auto;
}

.box-article a:link{text-decoration: underline;}

/* Data postagem */
time {background-color: #eeeeee; color: black; padding: 0.1%; font-size: 0.9em; font-family: sans-serif;}

/* Rodapé */
footer{text-align: center; margin-top: 4%; color: #989898;}
footer>a:visited{ color: blue; }

pre{
   font-size: 0.9em;
   color: black;
   border: solid 1px black;
   padding: 1.5%;
}

/* H1 H2 H3 H4 etc... */
h2{margin-top: 10%; margin-bottom: 2%;}
h3{margin-top: 10%; margin-bottom: 2%;}
.image-post{max-width: 100%; margin-top: 2%; margin-bottom: 1%; box-shadow: 5px 10px 10px 2px black;}

#disqus_thread{margin-top: 6%;}

/* PROFILE ESCRITOR */
.profile-image{max-width: 20%; vertical-align: middle;}
